<h1>Nutrition Plan</h1>
<p><b>Name: </b>{{ your_name }}</p>
<p><b>Dogs name: </b><br>{{ dogs_name }}</p>
<p><b>Dogs age: </b><br>{{ dogs_age }}</p>
<p><b>Dogs breed: </b><br>{{ dogs_breed }}</p>
<p><b>Dogs gender: </b><br>{{ dogs_gender }}</p>
<p><b>Dogs weight: </b><br>{{ dogs_weight }}</p>
<p><b>Dogs physique: </b><br>{{ dogs_physique }}</p>
<p><b>Activity level: </b><br>{{ active_level }}</p>
<p><b>Eating habit: </b><br>{{ eating_habit }}</p>
<p><b>Allergies: </b><br>{{ allergies }}</p>
<p><b>Food preference: </b><br>{{ food_preference }}</p>
<p><b>Outcome goal: </b><br>{{ outcome_goal }}</p>
<p><b>E-mail: </b>{{ email }}</p>
<p><b>Message: </b><br>{{ message }}</p>