{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-12 col-lg-6 my-auto" id="info">
            <h1 class="display-4">
                The best fitness and nutrition for your best friend
            </h1>
            <br>
            <div>
                <form method="GET" action="{% url 'products' %}">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm m-4">
                        <div class="input-group">
                            <input class="form-control border-0 bg-light" type="text" name="q"
                                placeholder="What are you searching for?" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-red">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-auto" id="dog-playing">
            <img src="{% static 'home/images/dog-playing.jpg' %}" alt="Dog playing in Stockholm">
        </div>
    </div>
    <div class="row" id="our-story">
        <div class="col-12 col-lg-6 my-auto" id="profile">
            <img src="{% static 'home/images/our-story.jpg' %}" alt="About dog fitness and nutrition">
        </div>
        <div class="col-12 col-lg-6 my-auto">
            <h1 class="display-5">
                Our Story
            </h1>
            <p>Hi there,</p>
            <p>My name is Brad and I am the creator of Dog Fitness &amp; Nutrition.</p>
            <p>I am a certified dog trainer and entrepreneur who over the past decade have been training and handling
                dogs. Over time, I became fascinated with the fitness and nutritional needs for dogs. After all, a healthy dog is a happy dog.</p>
            <p>There are many benefits to keeping your dog fit, which includes a longer life span and creating a stronger bond with your best friend.</p>
            <p>A healthy diet is equally important to give your dog the necessary nutriants which provides a source of energy to keep your dog going and increase their metabolism.</p>
            <p>I look forward to assisting you on your journey with your four legged friend.</p>
            <p>Welcome to Dog Fitness &amp; Nutrition.</p>
        </div>
    </div>
</div>
{% endblock %}