{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-7 col-md-6 my-auto" id="info">
            <h1 class="display-4">
                The best fitness and nutrition for your best friend
            </h1>
            <br>
            <div class="">
                <form method="GET" action="{% url 'products' %}">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input class="form-control border-0 bg-light" type="text" name="q"
                                placeholder="What are you searching for?" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5 col-md-6 my-auto" id="dog-playing">
            <img src="{% static 'home/images/dog-playing.jpg' %}" alt="dog playing">
        </div>
    </div>
    <div class="row" id="our-story">
        <div class="col-6 my-auto" id="profile">
            <img src="{% static 'home/images/our-story.jpg' %}" alt="profile">
        </div>
        <div class="col-6 my-auto">
            <h1 class="display-5">
                Our Story
            </h1>
            <p>Hi there,</p>
            <p>My name is Brad and I am the creator of Dog Fitness &amp; Nutrition.</p>
            <p>I am a certified dog trainer and entrepreneur who over the past decade have been walking and handling
                dogs. I trained my first dog as a child and since then, I have been fascinated with the fitness and
                nutritional needs for dogs.</p>
            <p>Lorem ipsum dolor sit amet nonummy in gubergren diam labore accusam facilisi labore.</p>
            <p>Welcome to Dog Fitness &amp; Nutrition</p>
        </div>
    </div>
</div>
{% endblock %}