{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'nutrition_plans/css/nutrition_plans.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="{% static 'nutrition_plans/images/nutrition-banner.jpg' %}" alt="nutrition-banner"
                class="img-responsive" id="nutrition-banner">
            <div class="cl-sm-12 col-xl-3 shadow p-3 mb-5 bg-white rounded" id="title-card">
                <div class="card-body">
                    <h1 class="card-title font-weight-bold">Nutrition Plans</h1>
                    <p class="card-text">With our nutrition plans, we offer the best quality food products and
                        supplements to keep your dog healthy.</p>
                    <p>Every dog is different, each one has their own distinct personality and nutritional needs. Every
                        owner wants to know which food is best for their dog based on their age, breed, activity level
                        and health goals.</p>
                    <p>By feeding your dog a custom blend of superfood ingredients and supplements, you will enjoy more years of playtime and evening walks together.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12 p-5 text-center">
        <h1 class="font-weight-bold">Benefits</h1>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Medical issues</h2>
                </div>
                <div class="card-text">A fresh dog food diet rich in immune-boosting antioxidants and high-quality
                    protein helps ward off a number of ailments.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Healthy weight</h2>
                </div>
                <div class="card-text">Keeping your dog at a healthy weight is well within your control. Balanced diets
                    prevent excessive weight gain. On the other hand, if you have a dog who is underweight, we can help
                    your dog put on those much needed pounds in a healthy way.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Increase lifespan</h2>
                </div>
                <div class="card-text">The starch, dyes, preservatives, and synthetic nutrients in many commercial dog
                    foods eventually take a toll your dogs health. Our products are carefully cultivated with natural
                    ingredients and no artificial preservatives to help give your friend a long and healthy life.</div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Improve digestion</h2>
                </div>
                <div class="card-text">A mix of vegetables and meat is critical for a dog to maintain a healthy gut and
                    to provide the necessary nutrients and fiber, which helps keep the digestive system humming
                    smoothly.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Cognitive function</h2>
                </div>
                <div class="card-text">A healthy diet can actually improve cognitive function in dogs. A fresh,
                    wholesome diet fuels learning and alertness.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Shiny coat</h2>
                </div>
                <div class="card-text">Our products contain healthy fats and oils that dogs need for a lustrous,
                    moisturized coat and skin.</div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12 p-5 text-center">
        <h1 class="font-weight-bold">Prices</h1>
    </div>
</div>

<br>

<div class="container py-5">

    <div class="row text-center align-items-end">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="bg-white p-5 rounded-lg shadow">
                <h2 class="text-uppercase font-weight-bold mb-4">Supplements</h2>
                <p class="h5 font-weight-normal ml-2">These tasty chews double as treats and help support:</p>

                <div class="custom-separator my-4 mx-auto bg-danger"></div>

                <ul class="list-unstyled my-5 text-left font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Hip &amp; Joint Health
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Healthy Digestion
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Skin/Coat + Heart Health
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Anxiety
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Allergies
                    </li>
                </ul>
                <a href="{% url 'nutrition_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Get custom plan</a>
            </div>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="bg-white p-5 rounded-lg shadow">
                <h2 class="text-uppercase font-weight-bold mb-4">Dry Food</h2>
                <p class="h5 font-weight-normal ml-2">Superfood ingredients paired with real meat proteins and fortified
                    with probiotics, vitamins, minerals and a whole lot of love.</p>

                <div class="custom-separator my-4 mx-auto bg-danger"></div>

                <ul class="list-unstyled my-5 text-left font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> All natural and Hormone-free
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> No fillers or Artificial Preservatives
                    </li>
                </ul>
                <a href="{% url 'nutrition_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Get custom plan</a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bg-white p-5 rounded-lg shadow">
                <h2 class="text-uppercase font-weight-bold mb-4">Protein mix-ins</h2>
                <p class="h5 font-weight-normal ml-2">Single ingredient protein mix-ins you add to your dogs meals for
                    added flavor and nutrition.</p>

                <div class="custom-separator my-4 mx-auto bg-danger"></div>

                <ul class="list-unstyled my-5 text-left font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> All Natural - Single Ingredient
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> No Hormones or Antibiotics
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-danger"></i> Freeze-dried Raw
                    </li>
                </ul>
                <a href="{% url 'nutrition_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Get custom plan</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}