{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'fitness_plans/css/fitness_plans.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="{% static 'fitness_plans/images/fitness-banner.jpg' %}" alt="fitness-banner"
                class="img-responsive" id="fitness-banner">
            <div class="cl-sm-12 col-xl-3 shadow p-3 mb-5 bg-white rounded" id="title-card">
                <div class="card-body">
                    <h1 class="card-title font-weight-bold">Fitness Plans</h1>
                    <p class="card-text">With our fitness plans, we offer tailored made sessions based on your dogs capabilities and needs.</p>
                    <p class="card-text">Whether your dog is old, recovering from an injury or is just lacking in energy, we can provide a slow paced, easy going session to give your friend the necessary exercise without overwheming them.</p>
                    <p class="card-text">Or perhaps your dog is full of energy and you are looking for a fast paced, agility session that not only meets their energitic needs, but stimulates their mind with fun and playful games and agility track courses.</p>
                    <p class="card-text">Or maybe you are just looking to have some fun with your best friend, we can provide a fitness plan for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12 p-5 text-center">
        <h1 class="font-weight-bold">Benefits</h1>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Endurence</h2>
                </div>
                <div class="card-text">Burns fat, strengthens the heart and lungs, and is a great natural stress reliever for dogs.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Strength</h2>
                </div>
                <div class="card-text">Stimulates muscle growth, increases bone density, and strengthens connective tissues that can help prevent injuries.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Balance</h2>
                </div>
                <div class="card-text">Builds better body awareness in dogs and takes stress off the weaker limbs to maximize proper posture and development.</div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Flexibility</h2>
                </div>
                <div class="card-text">Promotes better range of motion, better circulation, and more oxygen to the muscles.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Mental</h2>
                </div>
                <div class="card-text">Mental training builds cognitive abilities and beats boredom and destructive behavior.</div>
            </div>
        </div>
        <div class="col-lg-3 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2 class="font-weight-bold">Quality of Life</h2>
                </div>
                <div class="card-text">Because a fit dog is a happy, healthy, calm, and disciplined dog!</div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12 p-5 text-center">
        <h1 class="font-weight-bold">Prices</h1>
    </div>
</div>

<br>

<div class="container py-5">

    <div class="row text-center align-items-end">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h2 text-uppercase font-weight-bold mb-4">Try!</h1>
                <h2 class="h1 font-weight-bold">0 kr</h2>
                <p class="h2 font-weight-normal ml-2">one session</p>

                <div class="custom-separator my-4 mx-auto bg-primary"></div>

                <ul class="h4 list-unstyled my-5 text-center font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-red"></i> 1 fitness session free of charge
                    </li>
                </ul>
                <a href="{% url 'fitness_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Contact</a>
            </div>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h2 text-uppercase font-weight-bold mb-4">Term Fee</h1>
                <h2 class="h1 font-weight-bold">2300 kr</h2>
                <p class="h2 font-weight-normal ml-2">per semester</p>

                <div class="custom-separator my-4 mx-auto bg-primary"></div>

                <ul class="h4 list-unstyled my-5 text-center font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-red"></i> Fitness session 3 times a week
                    </li>
                </ul>
                <a href="{% url 'fitness_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Contact</a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h2 text-uppercase font-weight-bold mb-4">One time session</h1>
                <h2 class="h1 font-weight-bold">150 kr</h2>
                <p class="h2 font-weight-normal ml-2">per session</p>

                <div class="custom-separator my-4 mx-auto bg-primary"></div>

                <ul class="h4 list-unstyled my-5 text-center font-weight-normal">
                    <li class="mb-3">
                        <i class="fa fa-paw mr-2 text-red"></i> 1 fitness session
                    </li>
                </ul>
                <a href="{% url 'fitness_plan_contact' %}" class="btn btn-danger btn-block p-3 shadow rounded-pill">Contact</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}