{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fitness_plans/css/fitness_plans.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'fitness_plans/images/fitness-banner.jpg' %}" alt="fitness-banner" class="img-responsive" id="fitness-banner">
                <div class="col-4 card border-primary mb-3">
                    <div class="card-body">
                      <h2 class="card-title">Fitness Plans</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet dolore sit enim feugait est velit quis clita et lorem sed labore te ut. Duis no et stet sanctus autem ut aliquyam duis diam dolor amet. Aliquyam consequat et autem. Invidunt eos hendrerit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}