{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Thank you for your message!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center p-5">
            <p>Your contact information and message was successfully submitted.</p>
            <p>We will be in touch with you soon.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'contact' %}" class="btn my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}