{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <h3>Contact Information</h3>
            <div>

            </div>
        </div>
        <div class="col-5 m-3 shadow p-3 mb-5 bg-white rounded text-center">
            <h3>Send Us a Message</h3>
        </div>
    </div>
</div>
{% endblock %}