#fitness-banner {
    width: 100%;
    position: relative;
    border-radius: 10px;
}

#title-card{
    position: absolute;
    top: 10%;
    left: 10rem;
    height: 80%;
}

.btn-danger {
    background-color: #FF3B3F !important;
}

@media (max-width: 1662px) {
    #title-card{
        position: relative;
        text-align: center;
        left: auto;
        height: auto;
    }
}

@media (max-width: 576px) {
    #fitness-banner{
        display: none;
    }
}